@import "src/styles";
.search__container{
  width: 100%;
  margin-bottom: 2rem;
  form{
    .form-group{
      display: flex;
      max-width: 92%;
      justify-content: space-between;
      .form-item{
        flex-basis: 455px;
        flex-grow: 0;
        flex-shrink: 1;
        position: relative;


        .btn__sort{
          cursor: pointer;
          position: absolute;
          top: 24px;
          right: 54px;
          box-shadow: none;
          border: 0;
          img{


            //width: 100%;
            //height: 100%;
          }
        }

        input{
          width: 100%;
          border-radius: 20px;
          padding: 11px 50px;
          border: 1px solid #ccc;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

          &.byEmployee::placeholder{
            position: relative;
            left: 0;
          }

          &.byDepartment::placeholder{
            position: relative;
            left: 0;
          }
          &.byLocation::placeholder{
            position: relative;
            left: 0;
          }
         &:focus{
           border: 1px solid #949494;
         }
        }
      }
      .by__employee{
        img{
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .by__department{
        position: relative;

        .autocomplete__departments{
          position: absolute;
          top: 100%;
          left: 13px;
          width: calc(100% - 20px);
          background: $primaryBg;
          color: #fff;
          z-index: 1;
          height: 167px;
          overflow-y: auto;
          ul>li{
            width: 100%;
            padding: 5px 8px;
            border-bottom:1px solid white;
            cursor: pointer;
          }

        }
      }
      .by__department,.by__location{

        img{
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

