@import "src/styles";
// Color


.search__container {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;

  button.clear_all {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #00bca9;
    color: #fff;
    top: 72px;
    position: absolute;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    right: 36px;

  }

  .searchbar_container {
    position: relative;

    form {
      .form-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .form-item {
          flex-basis: 455px;
          flex-grow: 0;
          flex-shrink: 1;
          position: relative;
          margin-bottom: 1rem;

          .btn__sort {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 54px;
            box-shadow: none;
            border: 0;
          }

          .btn_clear {
            position: absolute;
            right: 55px;
            top: 10px;
            border: 0;
            background: 0;
            cursor: pointer;
          }

          input {
            width: 100%;
            border-radius: 20px;
            padding: 11px 50px;
            border: 1px solid $inputBorderColor;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

            &.byEmployee::placeholder {
              position: relative;
              left: 0;
            }

            &.byDepartment::placeholder {
              position: relative;
              left: 0;
            }

            &.byLocation::placeholder {
              position: relative;
              left: 0;
            }

            &:focus {
              border: 1px solid $inputBorderFocusColor;
            }
          }
        }

        .by__employee {
          img {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
          }

          .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
            width: 200px;
            overflow-x: hidden;
          }

          .users {
            position: absolute;
            width: calc(100% - 30px);
            top: 117%;
            right: 13px;
            background: $primaryBg;
            padding: 5px;
            height: 306px;
            z-index: 10;
            font-size: 18px;
            overflow-y: auto;

            ul > li {
              cursor: pointer;
              color: $textColor;
              padding: 0 15px;
              height: auto;
            }

            span.highlight {
              color: $white !important;
            }

            .user_info__wrapper {
              align-items: center;
              padding: 10px;
              border-bottom: 1px solid $borderColor;
              display: flex;
              justify-content: flex-start;

              .img__wrapper {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
                position: relative;

                img {
                  position: absolute;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  -o-object-fit: cover;
                  object-fit: cover;
                  border-radius: 50%;
                  display: inline-block;
                }
              }

              .user__info {
                margin-left: 1rem;
                display: inline-block;

                .form-group {
                  display: flex;
                  margin-bottom: 0;
                  justify-content: flex-start;
                }

                &-name {
                  display: inline-block;
                  margin-right: 7px;
                }

                &-email {
                  display: block;
                }

                &-initials {
                  border-radius: 50%;
                  display: flex;
                  width: 100%;
                  font-size: 16px;
                  height: 100%;
                  justify-content: center;
                  align-items: center;
                  color: #102344;
                  border: 3px solid $inputBg;
                  background: $inputBg;
                }

                div {
                  display: flex;

                  label {
                    margin-right: 5px;
                    margin-bottom: 0;
                  }

                  a {
                    text-decoration: none;
                    color: $textColor;
                  }
                }
              }
            }
          }
        }

        .by__department, .by__location {
          position: relative;

          .autocomplete__departments, .autocomplete__locations {
            position: absolute;
            top: 100%;
            left: 13px;
            width: calc(100% - 20px);
            background: $primaryBg;
            color: $white;
            z-index: 1;
            height: 167px;
            overflow-y: auto;

            ul {
              padding: 0 36px;
            }

            ul > li {
              width: 100%;
              padding: 13px 16px;
              border-bottom: 1px solid $borderColor;
              cursor: pointer;
            }

          }
        }

        .by__department, .by__location {
          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .by__department {
          img {
            left: 10px;
          }
        }

        .by__location {
          img.byLocation {
            left: 21px !important;
          }
        }
      }
    }
  }

  .footer {
    position: absolute;
    top: 100%;
    margin: auto;
    width: calc(100% - 42px);
    left: 17px;
    z-index: 1000;
    background: $footerBg;
    padding: 5.8px;
    color: $white;
  }
}


