<div class="search__container">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <div class="form-item by__employee">
            <input type="text" (input)="onSearchByEmployee($event)" formControlName="byEmployee" placeholder="Type employee's name">
            <button class="btn__sort" type="button" #sortBtn >
              <img src="assets/icons/sorting%20a-z.png" alt="">
<!--              <i class="fa fa-sort-alpha-asc" aria-hidden="true" *ngIf="AscIcon"></i>-->
<!--              <i class="fa fa-sort-alpha-desc" aria-hidden="true" *ngIf="DescIcon"></i>-->
            </button>
          </div>
          <div class="form-item by__department">
            <input type="text" class="byDepartment" (input)="onSearchByDepartment($event)" formControlName="byDepartment" placeholder="Department">
            <img src="assets/icons/departments.png" alt="by department">
          </div>
          <div class="form-item by__location">
            <input type="text" class="byLocation" (input)="onSearchByLocation($event)" formControlName="byLocation" placeholder="Location">
            <img src="assets/icons/location_normal.png" alt="by location">
          </div>
        </div>
      </form>
</div>
