<div class="filter_results" >
  Results: {{(profiles | searchByEmployee: byEmployeeTerm  | cardsByDepartment: byDepartmentTerm | cardsByLocation: byLocation | searchByAZ: byAZ).length}}
<!--  Results: {{totalItems}}-->
</div>

<div class="cards__container" *ngIf="profiles.length> 0;else noProfiles">

  <!--paginate: {id: 'custom', itemsPerPage: 5, currentPage: currentPage, totalItems: totalItems  } | searchByDepartment: byDepartmentTerm | searchByLocation: byLocation |searchByEmployee: byEmployeeTerm "  >-->
  <div class="card" *ngFor="let profile of profiles | sortCards:'asc' |searchByEmployee: byEmployeeTerm
   | cardsByDepartment: byDepartmentTerm
   | searchByAZ: byAZ
   | cardsByLocation: byLocation|
   paginate: {id: 'custom', itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems };let i=index">
    <div class="card__body">
      <h3 class="card__title">{{profile.FirstName}} {{profile.LastName}}</h3>
      <div class="card__phones">
        <a href="tel:{{profile.WorkPhone}}">
          <img [src]="profile.workPhoneIconUrl" #workPhonesIconsRef [id]="'icon'+i"
               (mouseover)="profile.workPhoneIconUrl = workPhoneHoverImgSrc"
               (mouseout)="profile.workPhoneIconUrl = workPhoneImgSrc"
               class="work__phone" alt="work phone">


          <span class="card__phones-work" *ngIf="profile.WorkPhone;else notAvailable">{{profile.WorkPhone}}</span>
          <ng-template #notAvailable>
            <span class="card__phones-work">N/A</span>
          </ng-template>
        </a>
        <a href="tel:{{profile.MobilePhone}}">
          <img [src]="profile.mobilePhoneIconUrl"
               (mouseover)="profile.mobilePhoneIconUrl = mobilePhoneHoverImgSrc"
               (mouseout)="profile.mobilePhoneIconUrl = mobilePhoneImgSrc"
               alt="cell phone" class="cell__phone">
          <span class="card__phones-cell" *ngIf="profile.MobilePhone; else notAvailable">{{profile.MobilePhone}}</span>
        </a>
      </div>
      <div class="card__employee-info">
        <div class="card__imgWrapper">
          <img src="{{profile.PictureUrl}}" alt="avatar" *ngIf="profile.PictureUrl;else noPicture">
          <ng-template #noPicture>
            <div class="initials">
              <span>{{profile.FirstName.substring(0, 1)}}</span>
              <span>{{profile.LastName.substring(0, 1)}}</span>
            </div>
          </ng-template>
        </div>
        <div class="card__infoWrapper">
          <div class="email">

            <a href="mailto:{{profile.WorkEmail}}">
              <img [src]="profile?.emailIconUrl" alt="email"
                   (mouseover)="profile.emailIconUrl = emailHoverImgSrc"
                   (mouseout)="profile.emailIconUrl = emailImgSrc">
              <span *ngIf="profile.WorkEmail;else workEmailNorAvailable">{{profile.WorkEmail}}</span>
            </a>
            <ng-template #workEmailNorAvailable>
              <span>Email N/A</span>
            </ng-template>
          </div>
<!--          <div class="job">-->
<!--            <img [src]="profile.jobIconUrl">-->
<!--            <span *ngIf="profile.JobTitle;else noJobTitle">{{profile.JobTitle}}</span>-->
<!--            <ng-template #noJobTitle>-->
<!--              <span>Job N/A</span>-->
<!--            </ng-template>-->
<!--          </div>-->
          <div class="department" (mouseover)="onHoverOnDepartmentIcon()" (mouseout)="onLeaveOnDepartmentIcon()">
            <img [src]="profile.departmentIconUrl" alt="department">
            <!--            <img [hidden]="!isShowDepartmentIcon" src="https://sytedev01.mobileye.com/sites/apps/SiteAssets/icons/department_hover.png?csf=1&e=ZzKqbU" alt="">-->
            <span>{{profile.Department}}</span>
          </div>
        </div>
      </div>
      <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu" (menuOpened)="onOpenMenu(profile.Manager)" yPosition="below"
                class="employee__menu" aria-label="Example icon-button with a menu">
          <img [src]="profile.menuIconUrl"
               alt="menu">
        </button>
        <mat-menu #menu="matMenu" class="sub__menu">
          <button mat-menu-item
                  (mouseover)="profile.locationIconUrl = locationHoverImgSrc"
                  (mouseout)="profile.locationIconUrl = locationImgSrc">
            <img alt="location" [src]="profile.locationIconUrl"
            >
            <span *ngIf="profile.Office;else buildingNotAvailable"> {{profile.Office}}</span>
            <ng-template #buildingNotAvailable>
              <span>Office N/A</span>
            </ng-template>
            <div *ngIf="profile.OfficeNumber;else officeNumberNotAvailable">Room {{profile.OfficeNumber}}</div>
            <ng-template #officeNumberNotAvailable>
              <div>Room N/A</div>
            </ng-template>
          </button>
          <button mat-menu-item
                  (mouseover)="profile.managerIconUrl = managerHoverImgSrc"
                  (mouseout)="profile.managerIconUrl = managerImgSrc"
                  (click)="onNavigateToTheManagerPage(managerProfile)">
            <img [src]="profile.managerIconUrl" alt="manager"
            >
            <span>{{managerProfile?.FullName}}</span>
          </button>
          <button mat-menu-item
                  (mouseover)="profile.workADayIconUrl = workADayHoverImgSrc"
                  (mouseout)="profile.workADayIconUrl = workADayImgSrc">
            <img [src]="profile.workADayIconUrl" alt="work a day"
            >
            <a href="{{profile.WorkdayProfile}}" target="_blank">View in workday</a>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>


<ng-template #noProfiles>
  <div class="spinner__container">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>

<pagination-controls *ngIf="profiles.length> 0" (pageBoundsCorrection)="pageChanged($event,byAZ)"
                     (pageChange)="nextPage($event,byAZ)"
                     autoHide="false"
                     directionLinks="true"
                     id="custom"
                     maxSize="9"
                     nextLabel="Next"
                     previousLabel="Previous"
                     responsive="true"
                     screenReaderCurrentLabel="You're on page"
                     screenReaderPageLabel="page"
                     screenReaderPaginationLabel="Pagination">
</pagination-controls>




