/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// Color's Variables
$inputBg: #72819B;


$white: #fff;
$primaryBg: #102344;
$borderColor: #1C3B61;
$textColor: #b0b0b0;
$footerBg: #0b1b37;
$secondaryBg: #00bca9;
$inputBorderColor: #ccc;
$inputBorderFocusColor: #949494;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

body {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}
b.highlight{
  color: #ffffff;
}

.cdk-overlay-pane {
  position: absolute !important;
  left: -139px;
  top: -40px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mat-menu-panel{
  min-width: 112px;
  max-width: 180px;
  position: absolute;
  right: auto !important;
  transform: translateX(39px);
  top: 0;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
}

button.mat-menu-item {
  width: 100%;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: #8f97a7;
  }

  span {
    color: #8f97a7;
    margin-left: 6px;


  }
  &:hover{
    span,a{
      color: white;
    }
  }


}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #cccccc;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: $inputBg;
  border-radius: 10px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

  background: #555;
}








